target
*.ids
*.iml
*.ipr
*.iws
.classpath
.idea
*.tld
*plugin.xml
stacktrace.log
out/
database/
cobertura.ser
*.DS_Store
derby.log
web-app/repositories/
.project
.settings
grails-app/conf/local-config.groovy
CodeNarcReport.html
localDbDumps/
logs/*
*.rdb
.env
local.env
.gradle/
build/
buildPlugins/